<h1>All available items</h1>
<ul>
<% @items.each do |item| %>
<li>
<h2><%= item.name %></h2>
<p><%= item.description %></p>
<% if item.image %>
  <%= image_tag item.image, height: "200", width: "200"%>
<% else %>
  <p><em><%="no image available"%></em></p>
<% end %>
<p><strong><%= item.credit %></strong></p>
</li>
<% end %>
</ul>
