<h1>All available items</h1>
<p><%= link_to "Offer an item", new_item_path, class: "btn btn-dark" %></p>
<ul class="cards-all-items">
<% @items.each do |item| %>
  <li>
  <div class="card">
    <h3><%= link_to item.name.titleize, item_path(item) %></h3>
    <div class="card-image">
      <% if item.image %>
        <%= link_to (image_tag item.image), item_path(item) %>
      <% else %>
        <p><em><%="no image available"%></em></p>
      <% end %>
    </div>
    <div class="card-info">
      <p><%= item.description %></p>
      <h6>Credit <strong><%= item.credit %></strong></h6>
    </div>
  </li>
</div>
<% end %>
</ul>
